.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .grocery-list {
    width: 90%;
    margin: 0 5%;
    padding: 0;
  }
}

.grocery-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #9d9d9d; */
  margin: 0 5%;
}

.item-list {
  display: flex;
  padding: 8px;
}

.new-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.list-header {
  font-size: 20px;
}
