.App {
  text-align: center;
  overflow: hidden;
  background-color: white;
  /* border: 2px solid hotpink; */
}
#root {
  overflow: hidden;
  background-color: white;
}

html {
  background-color: white;
}

body {
  overflow: hidden;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grocery-list {
  /*overscroll-behavior: none;*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding-top: 70px;
  
  border: 1px solid #9d9d9d;
  /* margin: 0 40%; */
  
}

.inner-list {
  position: relative;
  overflow: scroll;
  height: 100vh;
}

.item-list {
  display: flex;
  padding: 8px;
}

.new-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
}

.list-header {
  font-size: 20px;
}

.item-total-quantity {
  margin-left: 20px;
}

.sign-in-remind {
  padding-top: 60px;
  font-size: 20px;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: hidden;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.item-name {
  font-family: "Roboto", sans-serif;
}

.edit-note {
  cursor: pointer;
  color: #1976d1;
}

.delete-icon:hover {
  color: rgb(172, 41, 41);
}
